{#
/**
 * @file
 * Hero block template - matches Hero.svelte
 */
#}

<!-- Hero Section - Mobile First: py-8, md: py-10, lg: py-10 (40px spec) -->
<section class="py-8 md:py-10 lg:py-10">
  <h1 class="heading-large">ILAN KAIM</h1>
</section>